html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#56addf, #0072b5);
  font-family: "Comfortaa", cursive;
  background-attachment: fixed;
}

#adicionar {
  border-radius: 30px;
}
